
*.csv
模型框架/stacking/Stacking_Ensembles-master.zip
比赛案例/xxf2019/thingquality/lgb_train.zip
比赛案例/2018kdxf/2018-iFLYTEK-Marketing-Algorithms-Competition-Finals-Rank1-master/科大讯飞初赛.zip
比赛案例/2018kdxf/2018-iFLYTEK-Marketing-Algorithms-Competition-Finals-Rank1-master/科大讯飞复赛.zip
比赛案例/2018kdxf/2018-iFLYTEK-Marketing-Algorithms-Competition-Finals-Rank1-master/src/data/round1_iflyad_test_feature.txt
比赛案例/2018kdxf/2018-iFLYTEK-Marketing-Algorithms-Competition-Finals-Rank1-master/src/data/round1_iflyad_train.txt
